.about-me-container{
    width: 100%;
    margin-top: 3%;
}
.about-me-wrapper{
    display: flex;

}
.about-me-logo-wrapper{
    flex-basis: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.about-me-content-wrapper{
    flex-basis: 50%;
    border: 1px solid black;
    padding: 1rem 2rem;
}
.progress-bar:before{
    content: '';
    height: 10px;
    width: 80%;
    display: inline-block;
    background-color: #ffb805;
}
.progress-bar:after{
    content: '';
    height: 10px;
    width: 20%;
    display: inline-block;
    background-color: #ffb805;
}
