.top-brands-section-wrapper{
    height: 40vh;
    /* background: url(../Asset/photo-1495106245177-55dc6f43e83f.avif);
    object-fit: contain;
    background-size: cover;
    box-shadow: 0px 0px 4px 0px #00000040, inset 0 0 0 1000px rgba(0, 0, 0, 60%);
    transition: 1s all;
    background-attachment: fixed;
    position: relative; */
}
.top-brands-container{
    color: var(--text-clr);
    text-transform: uppercase;
    text-align: center;
}
.top-brands-container span{
    font-size: 0.7rem;
    color: var(--text-primary-clr);
}
.top-brands-container .heading{
    color: var(--primary-clr);
    font-size: 1.5rem;
    font-weight: 800;
}
.brands-logo-wrapper{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.brands-logo-wrapper img{
    object-fit: contain;
    width: 200px;
    aspect-ratio: 3/2;
}
.qurez img{
    width: 180px;
}
.brand-logo-title{
    color: var(--text-primary-clr);
  font-size: 0.7rem;
}
.brand-logo-img-wrapper{
    height: 100%;
}
@media screen and (max-width:990px){
.brands-logo-wrapper{
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.brands-logo-wrapper img{
    width: 100px;
}
.brand-logo{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    }
.saaki{
    display: none;
}
}
